h1 {}

h2 {
    margin: 0;
}

button {
    float: right;
}

.addSpy {
    float: none;
}

.container {
    border: 1px solid black;
}

.spy {
    background-color: yellow;
    font-weight: bolder;
    border: thin solid black;
    width: 97.8%;
    padding: 1%;
    margin: 0;
}

.spyInDanger {
    background-color: red;
    border: thin solid black;
    width: 97.8%;
    padding: 1%;
    margin: 0;
}

.deadSpy {
    background-color: black;
    color: white;
}

.spyStats {
    /*float: right;*/
    border: thin dashed black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5%;
}

.hiredSpiesNum {
    display: inline;
}

.hiredSpiesLabel {
    display: inline;
}

.hiredSpiesLabel {
    display: inline;
}

.activeSpiesNum {
    display: inline;
}

.dangerMessage {
  color: red;
  font-weight: bolder;
}

.spiesInDangerLabel {
    display: inline;
}

.numSpiesInDanger {
    display: inline;
}
